.button {
  border-radius: 4px;
  padding: 8px 16px;
  min-width: 128px;
  text-align: center;
  border: 2px solid darkblue;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
