.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 320px;
  border: 2px solid var(--color-primary-dark);
  background-color: var(--color-primary-light);
  padding: 32px;
  border-radius: 8px;
}
