:root {
  --color-primary: blue;
  --color-primary-dark: darkblue;
  --color-primary-light: lightcyan;
  --font-heading: sans-serif;
  --font-body: monospace;
  --border: 2px solid var(--color-primary-dark);
}

body {
  font-family: var(--font-body);
}
